bootstrap/cache/*

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/*.key

vendor/
**/*node_modules

.phpunit.cache
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

.env
.env.backup
.env.production
.env.testing

# CI/CD Artifacts
secret.*

**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache

Dockerfile
docker-compose.yml
.dockerignore
